<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      	<ion-icon name="menu"></ion-icon>
    	</button>
      <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)" end>
          <ion-icon name="ios-contact" class="icon-color"></ion-icon><ion-icon name="md-arrow-dropdown" class="user-color"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
  <!--  <div> okay </div>
 <ion-list>
    <ion-list-header>
      Ionic 2 Accordion Example.
    </ion-list-header>
    <ion-item padding *ngFor="let d of data" (click)="toggleDetails(d)"><ion-icon color="primary" item-right [name]="d.icon"></ion-icon>
      {{d.title}}
      <div *ngIf="d.showDetails">{{d.details}}</div>
    </ion-item>
  </ion-list> -->
</ion-content>
