page-messages {
	.toolbar-background{
        border-color:#262b36;
        background: #262b36; 

    }
    .content-md {
    	background-color:#efefef;
    } 
    .button-bground {
    	background-color:#ffffff; 
    }
    .icon-color {
		color:#ffffff;
    }

    .user-color {
    	color:#ffffff;	
    }
    .item-md {
		font-size: 1.3rem;
		color: #ffffff;
   	}
}
